<!-- 
  
   <div id="main"   style=" margin-bottom: 70px; margin-top: 70px;">

   </div>
  <section  class="secregister" >

   <div style="display: flex;">


    <div class="container" style=" width: auto !important;   justify-content: center;
    align-items: center;
    display: grid;">

 
  <div style="display: flex; margin-top: 30px;">
    <div class="card">
        <div style="display: grid;">
            <img src="assets/img/location.png" style="margin:auto">
            <div  class="subicon">
               Abuja, Nigeria
            </div>
        </div>
        
    </div>

    <div class="card" >
        <div style="display: grid;">
            <img src="assets/img/calender.png" style="margin:auto">
            <div  class="subicon" >
              Scientific Exhibitions   
           </div>
        </div>
        
    </div>

  </div>



  <div style="display: flex;  margin-top: 30px;">
    <div class="card">
        <div style="display:grid">
            <img src="assets/img/Biotech.png" style="margin:auto">
            <div  class="subicon">
                Scientific Exhibitions
            </div>
        </div>
        
    </div>

    <div class="card">
        <div style="display: grid;">
            <img src="assets/img/Book-And-Pencil.png" style="margin:auto">
            <div  class="subicon">
                15+ Breakout Sessions
            </div>
        </div>
        
    </div>

  </div>

  <div style="display: flex;  margin-top: 30px;">
    <div class="card">
        <div style="display: grid;">
            <img src="assets/img/Business-Conference.png" style="margin:auto">
            <div  class="subicon">
                30 Speakers
            </div>
        </div>
        
    </div>

    <div class="card">
        <div style="display: grid;">
            <img src="assets/img/Bus-Seat-Top.png" style="margin:auto">
            <div  class="subicon">
                2000 Seats
            </div>
        </div>
        
    </div>

  </div>
</div>


 
<div class="conImg" >
    <img src="assets/img/spon.png" >
  </div>
</div>

<div class="container" style="  justify-content: start; display: flex; margin-top: 30px; ">

    <div  >
        <button  >BACK TO HOME PAGE</button>
      
      </div>

      <div  style="float: right; margin-left: 10px;" >
        <button>REGISTER</button>
      
      </div>
</div>
  </section>
<hr>

  <section class="secregister" style="margin-top: 70px; margin-bottom: 70px;"  >

    <div style="display: flex;">
 
 
     <div class="container" style=" width: auto !important;
     align-items: center;">
 
  
   <div style="display: flex; margin-top: 15px;">
     <div class="cardText">
         <div style="display: grid;">
             <div  class="subicon">
            4th JNC
             </div>
         </div>
         
     </div>
 
   </div>



  <div style="display: flex; margin-top: 15px;">
    <div class="cardText">
        <div style="display: grid;">
            <div  class="subicon">
                3rd JNC
            </div>
        </div>
        
    </div>

  </div>


  <div style="display: flex; margin-top: 15px; ">
    <div class="cardText">
        <div style="display: grid;">
            <div  class="subicon">
                2nd JNC
            </div>
        </div>
        
    </div>

  </div>

  <div style="display: flex; margin-top: 30px;">
    <div class="cardText">
        <div style="display: grid;">
            <div  class="subicon">
           1st JNC
            </div>
        </div>
        
    </div>

  </div>

  <div  style="justify-content: start; display: flex; margin-top: 30px; ">
 
    <div  >
        <button  >BACK TO HOME PAGE</button>
     
      </div>

      <div  style="float: right; margin-left: 10px;" >
        <button>REGISTER</button>
      
      </div>
</div>

 </div>
 
 
  
 <div class="conImg" >
    <img src="assets/img/spon.png" >
  </div>
 </div>
 
 
   </section>

   <hr>

   <section class="secregister"  style=" margin-top: 70px; margin-bottom: 70px;"  >
    <div class="container">
        <img src="assets/img/4th JNC.png" style="height: 456px;     width: 100%;" >
      </div>
    <div style="display: flex;" class="container">
 

     <div style="width: 50%;">
        <div style="margin-top: 30px;">
            <h4 class="htitle">4TH JNC</h4>

            
           <p class="ptitle">
            You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
            Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
            

           </p>
        </div>
  </div>

  <div style="width: 50%;" >
    <div style="margin-top: 30px;">
        
       <p class="ptitle">
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
        Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
        

       </p>
    </div>
</div>


    </div>
 
 <div class="container" style="  justify-content: end; display: flex; margin-top: 30px; ">
 
     <div  >
         <button  >BACK TO HOME PAGE</button>
     
       </div>
 
       <div  style="float: right; margin-left: 10px;" >
         <button>REGISTER</button>
       
       </div>
 </div>
   </section>
   <hr>
   <section class="secregister"  style=" margin-top: 70px; margin-bottom: 70px;" >
    <div  class="container">
        <img src="assets/img/4th JNC.png" style="height: 456px;     width: 100%;" >
      </div>
    <div style="display: flex;" class="container">
 

     <div style="width: 50%;">
        <div style="margin-top: 30px;">
            <h4 class="htitle">3RD JNC</h4>

            
           <p class="ptitle">
            You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
            Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
            

           </p>
        </div>
  </div>

  <div style="width: 50%;" >
    <div style="margin-top: 30px;">
        
       <p class="ptitle">
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
        Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
        

       </p>
    </div>
</div>


    </div>
 
 <div class="container" style="  justify-content: end; display: flex; margin-top: 30px; ">
 
     <div  >
         <button  >BACK TO HOME PAGE</button>
       
       </div>
 
       <div  style="float: right; margin-left: 10px;" >
         <button>REGISTER</button>
       
       </div>
 </div>
   </section>
   <hr>

   <section class="secregister"  style=" margin-top: 70px; margin-bottom: 70px;" >
    <div  class="container">
        <img src="assets/img/4th JNC.png" style="height: 456px;     width: 100%;" >
      </div>
    <div style="display: flex;" class="container">
 

     <div style="width: 50%;">
        <div style="margin-top: 30px;">
            <h4 class="htitle">2ND JNC</h4>

            
           <p class="ptitle">
            You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
            Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
            

           </p>
        </div>
  </div>

  <div style="width: 50%;" >
    <div style="margin-top: 30px;">
        
       <p class="ptitle">
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
        Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
        

       </p>
    </div>
</div>


    </div>
 
 <div class="container" style="  justify-content: end; display: flex; margin-top: 30px; ">
 
     <div  >
         <button  >BACK TO HOME PAGE</button>
     
       </div>
 
       <div  style="float: right; margin-left: 10px;" >
         <button>REGISTER</button>
       
       </div>
 </div>
   </section>
   <hr>

   <section class="secregister"   style=" margin-top: 70px; margin-bottom: 70px;">
    <div  class="container" >
        <img src="assets/img/4th JNC.png" style="height: 456px;     width: 100%;" >
      </div>
    <div style="display: flex;" class="container">
 

     <div style="width: 50%;">
        <div style="margin-top: 30px;">
            <h4 class="htitle">1ST JNC</h4>

            
           <p class="ptitle">
            You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
            Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
            

           </p>
        </div>
  </div>

  <div style="width: 50%;" >
    <div style="margin-top: 30px;">
        
       <p class="ptitle">
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
<br>
<br>
        Conference registration fees are 75% refundable only if a mail containing reasons for cancellation.
        You can convert your registration to donation towards the conference if you would not be able to make it for the conference.
        

       </p>
    </div>
</div>


    </div>
 
 <div class="container" style="  justify-content: end; display: flex; margin-top: 30px; ">
 
     <div  >
         <button  >BACK TO HOME PAGE</button>
        
       </div>
 
       <div  style="float: right; margin-left: 10px;" >
         <button>REGISTER</button>
       
       </div>
 </div>
   </section> -->



<div id="main"   style="margin-top: 10px;">

</div>
<section class="secregister">

   <div >
    <iframe src="assets/Conference-programme.pdf" 
        class="frame"></iframe>

    <div class="bottom">
 
      <div  >
          <button   (click)="goBack()">BACK TO HOME PAGE</button>
          
        </div>
  
        <div class="bottombtn" >
          <button (click)="downloadPDF()" style="margin: auto;">DOWNLOAD</button>
        
        </div>
  </div>

   </div>


  </section>