
<div class="content">


   <section class="secnex"  style=" margin-top: 10px; margin-bottom: 10px;" >
    <div style="display: flex;">


        <div class="main__left" >
            <h3 class="h3">
                Previous Conferences
                        </h3>
            <hr>

    
            <h6 (click)="swichContent(4)" class="h6">4th JNC</h6>
            <hr>
    
            <h6 (click)="swichContent(3)" class="h6">3rd JNC</h6>
            <hr>
    
            <h6 (click)="swichContent(2)" class="h6">2nd JNC</h6>
            <hr>    
          
        </div>

<div *ngIf="page == 4" class="main__right">
    <div >
        <img src="assets/img/conference.png" style="height: 456px;     width: 100%;" >
      </div>

      <div>
        <div style="display: flex;" >
 

            <div >
               <div style="margin-top: 30px;">
                   <h4 class="htitle">4th JNC</h4>
       
                   
                  <p class="ptitle">
                   You can convert your registration to donation <br>
                   towards the conference if you would not be able to<br> make it for the conference.<br><br>
       
                   Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.
                   
       
                  </p>
               </div>
         </div>
       
         <div >
           <div style="margin-top: 30px; margin-left: 30px;">
               
              <p class="ptitle">
               You can convert your registration to donation<br> towards the conference if you would not be able to<br>
                make it for the conference.<br><br>
       
               Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.<br>
               You can convert your registration to donation<br> towards the conference if you would not be able to <br>make it for the conference.
               
       
              </p>
 
           </div>
       </div>
       
       
           </div>
        <div style="justify-content: end; display: flex; margin-top: 30px; ">
 
            <div>
                <button  (click)="goBack()">BACK TO HOME PAGE</button>
               
              </div>
        
              <div  style="float: right; margin-left: 10px;" >
                <button (click)="onRegister()">REGISTER</button>
              
              </div>
        </div>
      </div>
  
 

</div>
<div  *ngIf="page == 3"  class="main__right">
    <div >
        <img src="assets/img/conference.png" style="height: 456px;     width: 100%;" >
      </div>

      <div>
        <div style="display: flex;" >
 

            <div >
               <div style="margin-top: 30px;">
                   <h4 class="htitle">3rd JNC</h4>
       
                   
                  <p class="ptitle">
                   You can convert your registration to donation <br>
                   towards the conference if you would not be able to<br> make it for the conference.<br><br>
       
                   Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.
                   
       
                  </p>
               </div>
         </div>
       
         <div >
           <div style="margin-top: 30px; margin-left: 30px;">
               
              <p class="ptitle">
               You can convert your registration to donation<br> towards the conference if you would not be able to<br>
                make it for the conference.<br><br>
       
               Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.<br>
               You can convert your registration to donation<br> towards the conference if you would not be able to <br>make it for the conference.
               
       
              </p>
 
           </div>
       </div>
       
       
           </div>
        <div style="justify-content: end; display: flex; margin-top: 30px; ">
 
            <div>
                <button  (click)="goBack()">BACK TO HOME PAGE</button>
               
              </div>
        
              <div  style="float: right; margin-left: 10px;" >
                <button (click)="onRegister()">REGISTER</button>
              
              </div>
        </div>
      </div>
  
 

</div>
<div  *ngIf="page == 2"  class="main__right">
    <div >
        <img src="assets/img/conference.png" style="height: 456px;     width: 100%;" >
      </div>

      <div>
        <div style="display: flex;" >
 

            <div >
               <div style="margin-top: 30px;">
                   <h4 class="htitle">2nd JNC</h4>
       
                   
                  <p class="ptitle">
                   You can convert your registration to donation <br>
                   towards the conference if you would not be able to<br> make it for the conference.<br><br>
       
                   Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.
                   
       
                  </p>
               </div>
         </div>
       
         <div >
           <div style="margin-top: 30px; margin-left: 30px;">
               
              <p class="ptitle">
               You can convert your registration to donation<br> towards the conference if you would not be able to<br>
                make it for the conference.<br><br>
       
               Conference registration fees are 75% refundable<br> only if a mail containing reasons for cancellation.<br>
               You can convert your registration to donation<br> towards the conference if you would not be able to <br>make it for the conference.
               
       
              </p>
 
           </div>
       </div>
       
       
           </div>
        <div style="justify-content: end; display: flex; margin-top: 30px; ">
 
            <div>
                <button  (click)="goBack()">BACK TO HOME PAGE</button>
               
              </div>
        
              <div  style="float: right; margin-left: 10px;" >
                <button (click)="onRegister()">REGISTER</button>
              
              </div>
        </div>
      </div>
  
 

</div>

    </div>




   </section>







</div>