
button{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 24.5px 0 24.5px;

height: 60px;
color: #fff;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
/* identical to box height */



/* Green 1 */

background: rgba(2, 94, 148, 1);
box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
button:disabled{


background: rgba(rgb(145, 158, 145), 0.8);
color: rgb(224, 214, 214);
}
.form-group{
    margin-bottom: 39px !important;
}

.title{
    color: #000;
font-style: normal;
font-weight: 400;
font-size: 35px;


}
.p{
    font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 37px;
color: #000;
}
.box{
    border: solid 5px #000;
    border-color: #000 transparent transparent transparent;



}
.invalid-feedback{
    color: red;
}
.circleStep{
    position: static;
width: 19px;
height: 19px;
//background: rgba(255, 255, 255, 0.2);

background: linear-gradient(260.99deg, #068028 -2.85%, #3E05A5 149.21%);
/* Inside auto layout */

border-radius: 50%;
margin: 0px  10px 0 0;
}
.step__active{
    background: linear-gradient(260.99deg, #eff3f0 -2.85%, #58319e 149.21%);

    border: #FFFFFF;
}

.htitle{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


/* Gradient 1 */

background: linear-gradient(260.99deg, #068028 -2.85%, #3E05A5 149.21%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.stitle{
    font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */


/* Gradient 1 */

background: linear-gradient(260.99deg, #068028 -2.85%, #3E05A5 149.21%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin-top: 24px;

}
.ptitle{
    font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 27px;


}
.faq{
    font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 27px;
margin: 0 0 0 10px;
padding: 0;
color: #000000;

}

.card{
width: 296px;
height: 208px;
margin-right: 40px;
justify-content: center;
align-items: center;
display: grid;
background: #FFFFFF;
box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}
.step3{
    background: #15773F;
     padding: 20px 22px; 
     height: 60px; 
     font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #FFFFFF;
      width: 33%;
}
.step3_2{
    width: 33.5%;
    padding: 20px 22px; 
    height: 60px; 
    font-size: 20px;
     line-height: 24px;
     font-weight: 200;
     color: #FFFFFF;
}
.step3_main{
    display: flex; width: 994px; 
    justify-content: space-between;
    margin-top: 10px;
 
}

  .first {
 background:   #069A45 !important
}
.sec {
    background:  #3C443F !important
   }
  
   .bottom{
   justify-content: end;
    display: flex;
     margin-top: 30px;
       margin-bottom: 30px;
   }
   @media(max-width:767px){
    .bottom{
        justify-content: end;
         display: grid;
          margin-top: 30px;
            margin-bottom: 30px;
        }
   }
   .frame{
   border-radius: 20px;
    width: 1300px;
     height: 700px;
   }
   @media(max-width:767px){
    .frame{
        border-radius: 20px;
         width: 100%;
          height: 400px;
        }  
   }
   .bottombtn{
    float: right; 
    margin-left: 10px; 
   }
   @media(max-width:767px){
    .bottombtn{
        float: right; 
        margin-left: 10px; 
        margin-top: 15px;
       }
   }
   .secregister{
    display: flex; 
    justify-content: center;
   }

   @media(max-width:767px){
    .secregister{
        display: grid; 
        justify-content: center;
       }
    
   }