<footer class="footer " id="footer">
  
  <div >
  
  
      <div class="row">
        
  
          <div class="col-md-5">
         <div class="widget widget-links">
             <h5>GET IN TOUCH</h5>
             <ul>
  
              <li>F104, Hospital Chapel Complex, National Hospital, Central Business District, P.O.Box 2630 Garki, Abuja
              </li>
              <li>
                  +234 (809) 153 3339
              </li>
          <li>
              office@cmdanigeria.org
          </li>
  
          </ul>
  
          <h5>QUICK LINKS</h5>
          <ul>
  
              <li style="margin-top: 0 !important;     line-height: 20px !important "><a  style="text-transform: none !important;" routerLink='/missions'>Missions</a></li>
              <li style="margin-top: 0 !important;     line-height: 20px !important "><a  style="text-transform: none !important; line-height: 20px !important " routerLink='/about-us'> About Conference</a></li>
              <li style="margin-top: 0 !important;     line-height: 20px !important "><a style="text-transform: none !important; line-height: 20px !important"  routerLink='/sponsorship'>Sponsorship</a></li>
              <li style="margin-top: 0 !important;     line-height: 20px !important "><a style="text-transform: none !important; line-height: 20px !important" routerLink='/home'> Register for 5TH JNC</a></li>
          
  
          </ul>
         </div>
          </div>
          <div class="col-md-2">
              <div class="middle">
                <div class="vl">
  
                </div>
              </div>
            
          </div>
          <div class="col-md-5">
              <div class="widget widget-links">
                  <h5>ABOUT US</h5>
                  <ul>
                   <li>
                      The Christian Medical and Dental Association of Nigeria (CMDA Nigeria) is a network of Christian Medical and Dental practitioners registered with the Medical and Dental Council of Nigeria and students studying for the same qualification.
                   </li>
                 
               </ul>
  
  
               <h5>FOLLOW US ON</h5>
               <ul style="display: flex !important; width: 60%; margin: 19px 0 35px 0">
                  
                
                <li style="margin: 0;">
                    <a href="https://web.facebook.com/cmdanigeria">
                        <img src="assets/img/facebook.png" class="img">
                    </a>
                
                </li>
                <li style="margin: 0;"> 
                    <a href="https://twitter.com/cmdanigeria">
                        <img src="assets/img/Twitter.png" class="img">
                    </a>
                  
                </li>
                <li style="margin: 0;">
                    <a href="https://www.instagram.com/cmdanigeria">
                        <img src="assets/img/Instagram.png" class="img">
                    </a>
               
                </li>
                <li style="margin: 0;">
                    <a href="https://www.youtube.com/channel/UCAbbIpGdwPHvRyj7UqZRbzw">
                        <img src="assets/img/YouTube.png" class="img">
                    </a>
               
                </li>
              
            </ul>
                      <p class="copy">COPYRIGHT © {{test | date: 'y'}} - CMDA NIGERIA</p>
  
              </div>
               </div>
  
      </div>
  
  </div>
  </footer>
  